In [2]:
import os
import pandas as pd 
import numpy as np
from dotenv import load_dotenv

#Spark
import pyspark.sql.functions as F 
from pyspark.sql.functions import lit
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, TimestampType, IntegerType , BooleanType

# Charger les variables d'environnement
load_dotenv()

url = os.getenv("DB_URL")
user = os.getenv("DB_USER")
password = os.getenv("DB_PASSWORD")


# Création d'une session Spark
spark = SparkSession.builder \
    .appName("Hackaton17") \
    .config("spark.jars", "postgresql-42.6.0.jar") \
    .getOrCreate()
    


properties = {
    "user": user,
    "password": password,
    "driver": "org.postgresql.Driver"
}

In [3]:
file_path = 'olympic_hosts.csv'

schema_hosts = StructType([
    StructField("_id", IntegerType(), True),
    StructField("game_slug", StringType(), True),
    StructField("game_end_date", TimestampType(), True),
    StructField("game_start_date", TimestampType(), True),
    StructField("game_location", StringType(), True),
    StructField("game_name", StringType(), True),
    StructField("game_season", StringType(), True),
    StructField("game_year", IntegerType(), True)
])

# Chargement des données dans un DataFrame
df = spark.read \
    .csv(file_path, header=True, schema=schema_hosts) \


# Affichage du DataFrame
df.show()

# Écriture du DataFrame dans PostgreSQL
df.write \
    .jdbc(url=url, table="olympic_hosts", mode="overwrite", properties=properties)

+---+-------------------+-------------------+-------------------+------------------+-------------------+-----------+---------+
|_id|          game_slug|      game_end_date|    game_start_date|     game_location|          game_name|game_season|game_year|
+---+-------------------+-------------------+-------------------+------------------+-------------------+-----------+---------+
|  0|       beijing-2022|2022-02-20 13:00:00|2022-02-04 16:00:00|             China|       Beijing 2022|     Winter|     2022|
|  1|         tokyo-2020|2021-08-08 16:00:00|2021-07-23 13:00:00|             Japan|         Tokyo 2020|     Summer|     2020|
|  2|   pyeongchang-2018|2018-02-25 09:00:00|2018-02-09 00:00:00| Republic of Korea|   PyeongChang 2018|     Winter|     2018|
|  3|           rio-2016|2016-08-21 23:00:00|2016-08-05 14:00:00|            Brazil|           Rio 2016|     Summer|     2016|
|  4|         sochi-2014|2014-02-23 17:00:00|2014-02-07 05:00:00|Russian Federation|         Sochi 2014|     Winter|     2014|
|  5|        london-2012|2012-08-12 21:00:00|2012-07-27 09:00:00|     Great Britain|        London 2012|     Summer|     2012|
|  6|     vancouver-2010|2010-02-28 05:00:00|2010-02-12 17:00:00|            Canada|     Vancouver 2010|     Winter|     2010|
|  7|       beijing-2008|2008-08-24 14:00:00|2008-08-08 02:00:00|             China|       Beijing 2008|     Summer|     2008|
|  8|         turin-2006|2006-02-26 20:00:00|2006-02-10 08:00:00|             Italy|         Turin 2006|     Winter|     2006|
|  9|        athens-2004|2004-08-29 20:00:00|2004-08-13 08:00:00|            Greece|        Athens 2004|     Summer|     2004|
| 10|salt-lake-city-2002|2002-02-24 09:00:00|2002-02-08 16:00:00|     United States|Salt Lake City 2002|     Winter|     2002|
| 11|        sydney-2000|2000-10-01 11:00:00|2000-09-15 03:00:00|         Australia|        Sydney 2000|     Summer|     2000|
| 12|        nagano-1998|1998-02-22 12:00:00|1998-02-07 00:00:00|             Japan|        Nagano 1998|     Winter|     1998|
| 13|       atlanta-1996|1996-08-05 23:00:00|1996-07-19 14:00:00|     United States|       Atlanta 1996|     Summer|     1996|
| 14|   lillehammer-1994|1994-02-27 20:00:00|1994-02-12 08:00:00|            Norway|   Lillehammer 1994|     Winter|     1994|
| 15|     barcelona-1992|1992-08-09 20:00:00|1992-07-25 08:00:00|             Spain|     Barcelona 1992|     Summer|     1992|
| 16|   albertville-1992|1992-02-23 20:00:00|1992-02-08 08:00:00|            France|   Albertville 1992|     Winter|     1992|
| 17|         seoul-1988|1988-10-02 11:00:00|1988-09-17 00:00:00| Republic of Korea|         Seoul 1988|     Summer|     1988|
| 18|       calgary-1988|1988-02-28 04:00:00|1988-02-13 16:00:00|            Canada|       Calgary 1988|     Winter|     1988|
| 19|   los-angeles-1984|1984-08-12 21:00:00|1984-07-28 17:00:00|     United States|   Los Angeles 1984|     Summer|     1984|
+---+-------------------+-------------------+-------------------+------------------+-------------------+-----------+---------+
only showing top 20 rows

In [25]:
file_path = 'olympic_medals.csv'

schema_medals = StructType([
    StructField("_id", IntegerType(), True),
    StructField("discipline_title", StringType(), True),
    StructField("slug_game", StringType(), True),
    StructField("event_title", StringType(), True),
    StructField("event_gender", StringType(), True),
    StructField("medal_type", StringType(), True),
    StructField("participant_type", StringType(), True),
    StructField("participant_title", StringType(), True),
    StructField("athlete_url", StringType(), True),
    StructField("athlete_full_name", StringType(), True),
    StructField("country_name", StringType(), True),
    StructField("country_code", StringType(), True),
    StructField("country_3_letter_code", StringType(), True)
])

# Chargement des données dans un DataFrame
df_medals = spark.read \
    .csv(file_path, header=True, schema=schema_medals)

# Affichage du DataFrame
df_medals.show()

# Écriture du DataFrame dans PostgreSQL
df_medals.write \
    .jdbc(url=url, table="olympic_medals", mode="overwrite", properties=properties)

+---+----------------+------------+--------------------+------------+----------+----------------+-----------------+--------------------+--------------------+--------------------+------------+---------------------+
|_id|discipline_title|   slug_game|         event_title|event_gender|medal_type|participant_type|participant_title|         athlete_url|   athlete_full_name|        country_name|country_code|country_3_letter_code|
+---+----------------+------------+--------------------+------------+----------+----------------+-----------------+--------------------+--------------------+--------------------+------------+---------------------+
|  0|         Curling|beijing-2022|       Mixed Doubles|       Mixed|      GOLD|        GameTeam|            Italy|https://olympics....|Stefania CONSTANTINI|               Italy|          IT|                  ITA|
|  1|         Curling|beijing-2022|       Mixed Doubles|       Mixed|      GOLD|        GameTeam|            Italy|https://olympics....|        Amos MOSANER|               Italy|          IT|                  ITA|
|  2|         Curling|beijing-2022|       Mixed Doubles|       Mixed|    SILVER|        GameTeam|           Norway|https://olympics....|    Kristin SKASLIEN|              Norway|          NO|                  NOR|
|  3|         Curling|beijing-2022|       Mixed Doubles|       Mixed|    SILVER|        GameTeam|           Norway|https://olympics....|  Magnus NEDREGOTTEN|              Norway|          NO|                  NOR|
|  4|         Curling|beijing-2022|       Mixed Doubles|       Mixed|    BRONZE|        GameTeam|           Sweden|https://olympics....|       Almida DE VAL|              Sweden|          SE|                  SWE|
|  5|         Curling|beijing-2022|       Mixed Doubles|       Mixed|    BRONZE|        GameTeam|           Sweden|https://olympics....|      Oskar ERIKSSON|              Sweden|          SE|                  SWE|
|  6|         Curling|beijing-2022|               Women|       Women|      GOLD|        GameTeam|    Great Britain|                NULL|                NULL|       Great Britain|          GB|                  GBR|
|  7|         Curling|beijing-2022|               Women|       Women|    SILVER|        GameTeam|            Japan|                NULL|                NULL|               Japan|          JP|                  JPN|
|  8|         Curling|beijing-2022|               Women|       Women|    BRONZE|        GameTeam|           Sweden|                NULL|                NULL|              Sweden|          SE|                  SWE|
|  9|         Curling|beijing-2022|                 Men|         Men|      GOLD|        GameTeam|           Sweden|                NULL|                NULL|              Sweden|          SE|                  SWE|
| 10|         Curling|beijing-2022|                 Men|         Men|    SILVER|        GameTeam|    Great Britain|                NULL|                NULL|       Great Britain|          GB|                  GBR|
| 11|         Curling|beijing-2022|                 Men|         Men|    BRONZE|        GameTeam|           Canada|                NULL|                NULL|              Canada|          CA|                  CAN|
| 12|Freestyle Skiing|beijing-2022|        Men's Moguls|         Men|    SILVER|         Athlete|             NULL|https://olympics....|    Mikael KINGSBURY|              Canada|          CA|                  CAN|
| 13|Freestyle Skiing|beijing-2022|        Men's Moguls|         Men|      GOLD|         Athlete|             NULL|https://olympics....|     Walter WALLBERG|              Sweden|          SE|                  SWE|
| 14|Freestyle Skiing|beijing-2022|        Men's Moguls|         Men|    BRONZE|         Athlete|             NULL|https://olympics....|     Ikuma HORISHIMA|               Japan|          JP|                  JPN|
| 15|Freestyle Skiing|beijing-2022|Men's Freeski Hal...|         Men|      GOLD|         Athlete|             NULL|https://olympics....|       Nico PORTEOUS|         New Zealand|          NZ|                  NZL|
| 16|Freestyle Skiing|beijing-2022|Men's Freeski Hal...|         Men|    SILVER|         Athlete|             NULL|https://olympics....|          David WISE|United States of ...|          US|                  USA|
| 17|Freestyle Skiing|beijing-2022|Men's Freeski Hal...|         Men|    BRONZE|         Athlete|             NULL|https://olympics....|       Alex FERREIRA|United States of ...|          US|                  USA|
| 18|Freestyle Skiing|beijing-2022|Men's Freeski Big...|         Men|    BRONZE|         Athlete|             NULL|https://olympics....|      Henrik HARLAUT|              Sweden|          SE|                  SWE|
| 19|Freestyle Skiing|beijing-2022|Men's Freeski Big...|         Men|      GOLD|         Athlete|             NULL|https://olympics....|           Birk RUUD|              Norway|          NO|                  NOR|
+---+----------------+------------+--------------------+------------+----------+----------------+-----------------+--------------------+--------------------+--------------------+------------+---------------------+
only showing top 20 rows

In [26]:
file_path = 'olympic_results.csv'

schema_results = StructType([
    StructField("_id", IntegerType(), True),
    StructField("discipline_title", StringType(), True),
    StructField("event_title", StringType(), True),
    StructField("slug_game", StringType(), True),
    StructField("participant_type", StringType(), True),
    StructField("medal_type", StringType(), True),
    StructField("athletes", StringType(), True), # à revoir
    StructField("rank_equal", BooleanType(), True), 
    StructField("rank_position", IntegerType(), True),
    StructField("country_name", StringType(), True),
    StructField("country_code", StringType(), True),
    StructField("country_3_letter_code", StringType(), True),
    StructField("athlete_url", StringType(), True),
    StructField("athlete_full_name", StringType(), True),
    StructField("value_unit", StringType(), True),
    StructField("value_type", StringType(), True)
])

# Chargement des données dans un DataFrame
df_results = spark.read \
    .csv(file_path, header=True, schema=schema_results)


# Affichage du DataFrame
df_results.show()

# Écriture du DataFrame dans PostgreSQL
df_results.write \
    .jdbc(url=url, table="olympic_results", mode="overwrite", properties=properties)

+---+----------------+-------------+------------+----------------+----------+--------------------+----------+-------------+--------------------+------------+---------------------+-----------+-----------------+----------+----------+
|_id|discipline_title|  event_title|   slug_game|participant_type|medal_type|            athletes|rank_equal|rank_position|        country_name|country_code|country_3_letter_code|athlete_url|athlete_full_name|value_unit|value_type|
+---+----------------+-------------+------------+----------------+----------+--------------------+----------+-------------+--------------------+------------+---------------------+-----------+-----------------+----------+----------+
|  0|         Curling|Mixed Doubles|beijing-2022|        GameTeam|      GOLD|[('Stefania CONST...|     false|            1|               Italy|          IT|                  ITA|       NULL|             NULL|      NULL|      NULL|
|  1|         Curling|Mixed Doubles|beijing-2022|        GameTeam|    SILVER|[('Kristin SKASLI...|     false|            2|              Norway|          NO|                  NOR|       NULL|             NULL|      NULL|      NULL|
|  2|         Curling|Mixed Doubles|beijing-2022|        GameTeam|    BRONZE|[('Almida DE VAL'...|     false|            3|              Sweden|          SE|                  SWE|       NULL|             NULL|      NULL|      NULL|
|  3|         Curling|Mixed Doubles|beijing-2022|        GameTeam|      NULL|[('Jennifer DODDS...|     false|            4|       Great Britain|          GB|                  GBR|       NULL|             NULL|      NULL|      NULL|
|  4|         Curling|Mixed Doubles|beijing-2022|        GameTeam|      NULL|[('Rachel HOMAN',...|     false|            5|              Canada|          CA|                  CAN|       NULL|             NULL|      NULL|      NULL|
|  5|         Curling|Mixed Doubles|beijing-2022|        GameTeam|      NULL|[('Zuzana HAJKOVA...|     false|            6|      Czech Republic|          CZ|                  CZE|       NULL|             NULL|      NULL|      NULL|
|  6|         Curling|Mixed Doubles|beijing-2022|        GameTeam|      NULL|[('Jenny PERRET',...|     false|            7|         Switzerland|          CH|                  SUI|       NULL|             NULL|      NULL|      NULL|
|  7|         Curling|Mixed Doubles|beijing-2022|        GameTeam|      NULL|[('Vicky PERSINGE...|     false|            8|United States of ...|          US|                  USA|       NULL|             NULL|      NULL|      NULL|
|  8|         Curling|Mixed Doubles|beijing-2022|        GameTeam|      NULL|[('Suyuan FAN', '...|     false|            9|People's Republic...|          CN|                  CHN|       NULL|             NULL|      NULL|      NULL|
|  9|         Curling|Mixed Doubles|beijing-2022|        GameTeam|      NULL|[('Tahli GILL', '...|     false|           10|           Australia|          AU|                  AUS|       NULL|             NULL|      NULL|      NULL|
| 10|         Curling|        Women|beijing-2022|        GameTeam|      GOLD|                NULL|     false|            1|       Great Britain|          GB|                  GBR|       NULL|             NULL|      NULL|      NULL|
| 11|         Curling|        Women|beijing-2022|        GameTeam|    SILVER|                NULL|     false|            2|               Japan|          JP|                  JPN|       NULL|             NULL|      NULL|      NULL|
| 12|         Curling|        Women|beijing-2022|        GameTeam|    BRONZE|                NULL|     false|            3|              Sweden|          SE|                  SWE|       NULL|             NULL|      NULL|      NULL|
| 13|         Curling|        Women|beijing-2022|        GameTeam|      NULL|                NULL|     false|            4|         Switzerland|          CH|                  SUI|       NULL|             NULL|      NULL|      NULL|
| 14|         Curling|        Women|beijing-2022|        GameTeam|      NULL|                NULL|     false|            5|              Canada|          CA|                  CAN|       NULL|             NULL|      NULL|      NULL|
| 15|         Curling|        Women|beijing-2022|        GameTeam|      NULL|                NULL|     false|            6|United States of ...|          US|                  USA|       NULL|             NULL|      NULL|      NULL|
| 16|         Curling|        Women|beijing-2022|        GameTeam|      NULL|                NULL|     false|            7|People's Republic...|          CN|                  CHN|       NULL|             NULL|      NULL|      NULL|
| 17|         Curling|        Women|beijing-2022|        GameTeam|      NULL|                NULL|     false|            8|   Republic of Korea|          KR|                  KOR|       NULL|             NULL|      NULL|      NULL|
| 18|         Curling|        Women|beijing-2022|        GameTeam|      NULL|                NULL|     false|            9|             Denmark|          DK|                  DEN|       NULL|             NULL|      NULL|      NULL|
| 19|         Curling|        Women|beijing-2022|        GameTeam|      NULL|                NULL|     false|           10|                 ROC|         ROC|                  ROC|       NULL|             NULL|      NULL|      NULL|
+---+----------------+-------------+------------+----------------+----------+--------------------+----------+-------------+--------------------+------------+---------------------+-----------+-----------------+----------+----------+
only showing top 20 rows

In [30]:
file_path = 'olympic_athletes.csv'

schema_athletes = StructType([
    StructField("_id", IntegerType(), True),
    StructField("athlete_url", StringType(), True),
    StructField("athlete_full_name", StringType(), True),
    StructField("games_participations", IntegerType(), True),
    StructField("first_game", StringType(), True),
    StructField("athlete_year_birth", IntegerType(), True), 
    StructField("athlete_medals", StringType(), True),      
    StructField("bio", StringType(), True)
])

# Chargement des données dans un DataFrame
df = spark.read \
    .csv(file_path, header=True, schema=schema_athletes) \


# Affichage du DataFrame
df.show()

# Écriture du DataFrame dans PostgreSQL
df.write \
    .jdbc(url=url, table="olympic_athletes", mode="overwrite", properties=properties)

+---+--------------------+--------------------+--------------------+----------------+------------------+--------------+--------------------+
|_id|         athlete_url|   athlete_full_name|games_participations|      first_game|athlete_year_birth|athlete_medals|                 bio|
+---+--------------------+--------------------+--------------------+----------------+------------------+--------------+--------------------+
|  0|https://olympics....|Cooper WOODS-TOPA...|                   1|    Beijing 2022|              NULL|          NULL|                NULL|
|  1|https://olympics....|      Felix ELOFSSON|                   2|PyeongChang 2018|              NULL|          NULL|                NULL|
|  2|https://olympics....|       Dylan WALCZYK|                   1|    Beijing 2022|              NULL|          NULL|                NULL|
|  3|https://olympics....|       Olli PENTTALA|                   1|    Beijing 2022|              NULL|          NULL|                NULL|
|  4|https://olympics....|    Dmitriy REIKHERD|                   1|    Beijing 2022|              NULL|          NULL|                NULL|
|  5|https://olympics....|         Matt GRAHAM|                   3|      Sochi 2014|              NULL|            1S|                NULL|
|  6|https://olympics....|     Ikuma HORISHIMA|                   2|PyeongChang 2018|              NULL|            1B|                NULL|
|  7|https://olympics....|         Daichi HARA|                   2|PyeongChang 2018|              NULL|            1B|                NULL|
|  8|https://olympics....|      Laurent DUMAIS|                   1|    Beijing 2022|              NULL|          NULL|                NULL|
|  9|https://olympics....|      James MATHESON|                   2|PyeongChang 2018|              NULL|          NULL|                NULL|
| 10|https://olympics....|      Pavel KOLMAKOV|                   3|      Sochi 2014|              NULL|          NULL|                NULL|
| 11|https://olympics....|     Kosuke SUGIMOTO|                   1|    Beijing 2022|              NULL|          NULL|                NULL|
| 12|https://olympics....|      Brodie SUMMERS|                   3|      Sochi 2014|              NULL|          NULL|                NULL|
| 13|https://olympics....|      Severi VIERELA|                   1|    Beijing 2022|              NULL|          NULL|                NULL|
| 14|https://olympics....|          Marco TADE|                   1|    Beijing 2022|              NULL|          NULL|                NULL|
| 15|https://olympics....|     William FENELEY|                   1|    Beijing 2022|              NULL|          NULL|                NULL|
| 16|https://olympics....|    Mikael KINGSBURY|                   3|      Sochi 2014|              NULL|          1G2S|In the period bet...|
| 17|https://olympics....|          So MATSUDA|                   1|    Beijing 2022|              NULL|          NULL|                NULL|
| 18|https://olympics....|     Walter WALLBERG|                   2|PyeongChang 2018|              NULL|            1G|                NULL|
| 19|https://olympics....|      Bradley WILSON|                   3|      Sochi 2014|              NULL|          NULL|                NULL|
+---+--------------------+--------------------+--------------------+----------------+------------------+--------------+--------------------+
only showing top 20 rows

In [14]:
file_path = 'olympic_hosts.csv'
olympics_athletes = pd.read_csv(file_path)

print(olympics_athletes.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_slug        53 non-null     object
 1   game_end_date    53 non-null     object
 2   game_start_date  53 non-null     object
 3   game_location    53 non-null     object
 4   game_name        53 non-null     object
 5   game_season      53 non-null     object
 6   game_year        53 non-null     int64
dtypes: int64(1), object(6)
memory usage: 3.0+ KB
None

In [5]:
print("="*40)
print("Olymics Athletes Info")
print("="*40)
print(olympics_athletes.head())
print(olympics_athletes.info())
print(olympics_athletes.isnull().sum())

========================================
Olymics Athletes Info
========================================
                                         athlete_url       athlete_full_name
0  https://olympics.com/en/athletes/cooper-woods-...  Cooper WOODS-TOPALOVIC  \
1          https://olympics.com/en/athletes/elofsson          Felix ELOFSSON
2     https://olympics.com/en/athletes/dylan-walczyk           Dylan WALCZYK
3     https://olympics.com/en/athletes/olli-penttala           Olli PENTTALA
4          https://olympics.com/en/athletes/reikherd        Dmitriy REIKHERD

   games_participations        first_game  athlete_year_birth athlete_medals
0                     1      Beijing 2022              2000.0            NaN  \
1                     2  PyeongChang 2018              1995.0            NaN
2                     1      Beijing 2022              1993.0            NaN
3                     1      Beijing 2022              1995.0            NaN
4                     1      Beijing 2022              1989.0            NaN

   bio
0  NaN
1  NaN
2  NaN
3  NaN
4  NaN
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75904 entries, 0 to 75903
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   athlete_url           75904 non-null  object
 1   athlete_full_name     75904 non-null  object
 2   games_participations  75904 non-null  int64
 3   first_game            75882 non-null  object
 4   athlete_year_birth    73448 non-null  float64
 5   athlete_medals        15352 non-null  object
 6   bio                   22842 non-null  object
dtypes: float64(1), int64(1), object(5)
memory usage: 4.1+ MB
None
athlete_url                 0
athlete_full_name           0
games_participations        0
first_game                 22
athlete_year_birth       2456
athlete_medals          60552
bio                     53062
dtype: int64

In [5]:
from pyspark.sql import SparkSession

# Initialize Spark Session
spark = SparkSession.builder \
    .appName("Query") \
    .config("spark.jars", "postgresql-42.6.0.jar") \
    .getOrCreate()

#Se connecter à la
df = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql://postgresql-mia17-hackaton.alwaysdata.net:5432/mia17-hackaton_psql") \
    .option("dbtable", "public.olympic_hosts") \
    .option("user", "mia17-hackaton") \
    .option("password", "hackaton-mia17") \
    .option("driver", "org.postgresql.Driver") \
    .load()

# Créer une vue temporaire pour le DataFrame
df.createOrReplaceTempView("olympic_hosts")

# Exécuter une requête SQL
result = spark.sql("SELECT * FROM olympic_hosts WHERE game_location like 'Italy'")

# Afficher les résultats
result.show()

# Fermer la session Spark
spark.stop()

+---+--------------------+-------------------+-------------------+-------------+--------------------+-----------+---------+
|_id|           game_slug|      game_end_date|    game_start_date|game_location|           game_name|game_season|game_year|
+---+--------------------+-------------------+-------------------+-------------+--------------------+-----------+---------+
|  8|          turin-2006|2006-02-26 20:00:00|2006-02-10 08:00:00|        Italy|          Turin 2006|     Winter|     2006|
| 31|           rome-1960|1960-09-11 20:00:00|1960-08-25 08:00:00|        Italy|           Rome 1960|     Summer|     1960|
| 34|cortina-d-ampezzo...|1956-02-05 20:00:00|1956-01-26 08:00:00|        Italy|Cortina d'Ampezzo...|     Winter|     1956|
+---+--------------------+-------------------+-------------------+-------------+--------------------+-----------+---------+

In [6]:
# Fermer la session Spark
spark.stop()